.Login{
     display: flex;
     justify-content: center;
     align-items: center;
}

.loginbar{
     position: absolute;
	left: 40%;
	top: 20%;
     max-width: 500px;
     max-height: 500px;
}
.loginTitle{
     text-align: center;
     margin: 30px 0px 100px 0px;
}

.inputs{
     display: flex;
     justify-content: space-between;
     gap: 1rem;
}

.inputLogin{
     display: flex;
     flex-direction: column;

}

.Createaccount{
     display: flex;
     flex-direction: column;
}

