h1 {
     font-weight: bold;
     margin: 0
}

span {
     color: #ffc857;

}

span:hover {
     animation: ondular 2s ease-in-out infinite;
}

@keyframes ondular {
     0% {
          transform: translateY(0);
          opacity: 1;
     }

     50% {
          transform: translateY(-10px);
          opacity: 0.5;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

p{
    
     text-align: center;
     justify-content: center;
}

.acessar {
     text-align: center;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     display: inline-block;
     color: whitesmoke;
}

.cadastrar{
     text-align: center;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     display: inline-block;
     color: whitesmoke;
}


.Login {
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     min-height: 100%;
     color: whitesmoke;

}

.loginbar {
     position: absolute;
     left: 40%;
     top: 20%;
     max-width: 900px;
     max-height: 900px;

     /* --- incluido depois --- */
     -webkit-border-radius: 10px 10px 10px 10px;
     border-radius: 10px 10px 10px 10px;
     background-color: #1C1C1C;
     padding: 30px;
     width: 100%;
     -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.loginTitle {
     text-align: center;
     margin: 30px 0px 100px 0px;
}

.inputs {
     display: flex;
     justify-content: space-between;
}

.inputLogin {
     display: flex;
     flex-direction: column;
     gap: 24px;
     border-left: 1px solid whitesmoke;
     padding: 10px;
}

.input1{
     height: 32px;
} 

::-webkit-input-placeholder{color: #474350; font-weight: 500; padding-left: 1rem;}
input::-moz-placeholder{color: #474350;}

.buttonE{
     width: 18rem;
     background-color: #ffc857;
     box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     color: whitesmoke;
     height: 2rem;
     border-radius: 5px;
     font-weight: 500;
}

.buttonE:hover, .registeLink:hover{
     color:aliceblue;
     background-color: #474350;
}

.registeLink{
     color: whitesmoke;
     text-decoration: none;
}

.inputLogin .button {
     font-weight: 600;
}

.createaccount {
     display: flex;
     flex-direction: column;
     border-left: 1px solid whitesmoke;
     padding-left: 10px;
     padding-top: 0.5rem;
}

.createaccount .button {
     background-color: #ffc857;
     color: black;
     font-weight: 600;
}

.Createaccount .button:nth-child(6) {
     display: inline-flex;
     width: max-content;
     padding: 5px 10px;
}

.checkedIcon{
     font-size: 1.5rem;
}

.icons{
     display: flex;
     flex-direction: column;
}

.iconBig{
     font-size: 1rem;
}

/* ====================Breakpoints=================== */
/* For large devices */
@media screen and (max-width: 768px){
     .loginbar{
     position: absolute;
     left: 50%;
     top: 50%;
     max-width: 600px;
     max-height: 600px;
     /* --- incluido depois --- */
     -webkit-border-radius: 10px 10px 10px 10px;
     border-radius: 10px 10px 10px 10px;
     background-color: #1C1C1C;
     padding: 15px;
     width: 50%;
     -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     }

     .acessar ,.cadastrar{
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-block;
          color: whitesmoke;

     }

     .loginTitle {
          text-align: center;
          margin: 15px 0px 50px 0px;
     }

     .inputs {
          display: flex;
          flex-direction: column;
     }

     .inputLogin {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: none;
          border-bottom: 1px solid whitesmoke;
          padding: 10px;
          border-radius: 5px;
     }

     .input1{
          height: 32px;
          width: 200px;
     } 

     .buttonE{
          width: 15rem;
          background-color: #ffc857;
          box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
     }

     .createaccount {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: none;
          border-bottom: 1px solid whitesmoke;
         padding: 10px;
     }

     .icons{
          display: flex;
          flex-direction: column;
     }
    }