.headerModal{
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999;
   }
   
   .headerModalContent{
     position: relative;
     width: 50%;
     height: 85.1vh;
     background-color: #474350;
     transition: transform 0.3s ease-in-out;
     transform: translateX(100%);
   }
   
   .headerModalContent.open {
     transform: translateX(0);
   }
   
   .headerModalHeader{
     height: 11.5rem;
     background-color: #1C1C1C;
     border: 1px solid #1C1C1C;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 2rem;
   }
   
   .headerModalTitle{
     color: #FFC857;
     font-size: 1.5rem;
     font-family: 'Inter', sans-serif;
   }
   
   .headerModalUser{
     display: flex;
     flex-direction: column;
     align-items:flex-end;
     justify-content: center;
     padding-right: 10px;
     padding-top: 5.5rem;
   }
   
   .headerModalBody{
     height: 25rem;
     padding: 0 2rem;
     border: 1px solid #FFC857;
     border-bottom: none ;
     border-top: none;
   }
   
   .navListModal{
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
   }
   
   .navItemModal{
     padding-top: 1.5rem;
     border-top: 1px solid #1C1C1C;
   }
   
   .navItem1Modal{
     padding-top: 1.5rem;
     border-top: 1px solid #1C1C1C;
   }
   
   .navLinkModal, .navLink1Modal{
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     color: #F4F7F5;
     text-decoration: none;
   }
   
   .navLinkModal:hover, .navLink1Modal:hover{
     color: #807a90;
   }
   
   .headerModalFooter{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 8.3rem;
     border: 1px solid #FFC857;
     border-top: none;
   }
   
   .headerButton{
     width: 17rem;
     height: 2.5rem;
   }
   
   .navClose {
     color: #FFC857;
     font-weight: bold;
     font-size: 2rem;
     cursor: pointer;
   }
   
   .activeLink1{
     color: #807a90;
   }
   
   .first{
     border-top: none;
   }
   