.searchCarSection {
  width: 100%;
  height: auto  ;
  background-color: #474350;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding-bottom: 100px;

}


.searchCarSection h2 {
  padding: 80px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  gap: 15px;
  max-width: 1400px;
}

.card {
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: auto;
  border: solid 1px #F4F7F5;
  max-width: 300px;
  gap: 5px;


}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.highlight {
  color: #F3BF54;
  font-weight: bold;
  margin-bottom: 8px;
  animation: blink 1s infinite;

}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.name {
  font-size: 18px;
  margin: 8px 0;
}

.description {
  font-size: 14px;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  font-weight: bold;
}

.year {
  font-size: 14px;
}

.button-reserva {
  background-color: #474350;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  font-weight: bold;


}

.button-reserva:hover {
  background-color: #555;
  cursor: pointer;
}

.button-reserva:hover {
  background-color: #555;
  cursor: pointer;
}