.rentSection{
     width: 100%;
     height: 100%;
     background-color: #474350;
     margin-top: 5rem;
     margin-bottom: 5rem;
}
/* Ao chegar no tamanho do modal ele fica tem de subir para margin-top 4rem */


.rentHeader{
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.carSelected{
     padding-left: 1rem;
     padding-right: 1rem;
}

.carSelectScript{
     font-size: 15px;
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     color: #1C1C1C;
     padding-right: 4.5rem;
}

.carnameScript{
     font-size: 20px;
     font-family: 'Inter', sans-serif;
     color: #1C1C1C;
}

.uil-angle-left-b{
     font-size: 4rem;
     margin-right: 2rem;
}

.rentMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rentFromTitle{
     margin-top: 1rem;
     margin-bottom: 1.5rem;
     font-size: 24px;
     font-weight: lighter;
     font-family: 'Heebo', sans-serif;
     color: #F4F7F5;
     text-transform: capitalize;
}

.rentForm{
     margin: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     width: 100%;
}

.rentFormInfo{
     width: 48rem;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     background: #474350;
     height: 13.5rem;
     border-radius: 10px;
     gap: 40px;
     border: 1px solid #1C1C1C;
     box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
}

.rentFormInfo1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 1rem;
    color: whitesmoke;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

 .rentInfo{
     width: 20rem;
     height: 2.5rem;
     border-radius: 5px;
     border: none;
 }

 .rentCalendar{
     margin: 1.5rem;
 }

 .rmdp-calendar{
     width: 48rem;
 }

 .rmdp-day-picker {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 9rem;
 }

 .rentDetails{
     background-color: #474350;
     width: 30rem;
     margin: 1.5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
     border: 1px solid #F4F7F5;
 }

 .rentDetailsTitle{
     font-family: 'Roboto', sans-serif;
     color: #F4F7F5;
     font-size: 24px;
     padding: 1rem;
     text-transform: capitalize;
     width: 100%;
     font-weight: 500;
 }

 .rentDetailsInfo{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin-top: 1rem;
     padding-left: 1rem;
     margin-bottom: .5rem;
 }

 .rentDetailsYear{
     font-family: 'Quicksand', sans-serif;
     font-size: 14px;
     margin-bottom: 0;
     color: #F4F7F5;
     font-weight: 400;
 }

 .rentDetailsName{
     font-family: 'Roboto', sans-serif;
     color: #F4F7F5;
     font-size: 24px;
     text-transform: capitalize;
     font-weight: 500;
 }

 .rentDetailsLocation{
     width: 95%;
     font-family: 'Roboto', sans-serif;
     color: #F4F7F5;
     font-size: 14px;
     border-bottom: 1px solid #F4F7F5 ;
     padding-bottom: 16px;
     margin-bottom: 0;
 }

 .rentDetailsForm{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 div.single-input{
     width: 100%;
     margin: 16px 0;
     position: relative;
 }

 div.single-input label{
     font-size: 16px;
     position: absolute;
     left: 285px;
     bottom: 5px;
     color: #F4F7F5;
     cursor: text;
     transition: 0.5s ease-in-out;
     text-transform: capitalize;
     font-weight: 500;
 }

 div.single-input .inputDate{
     width: 95%;
     padding: 5px;
     color: #F4F7F5;
     background-color: #474350;
     border: 0;
     border-bottom: 1px solid #F4F7F5;
     outline: 0;
     font-size: 16px;
 }

 div.single-input .inputDate:focus{
     border-bottom: 2px solid cornflowerblue;
 }

 .rentDetailsButton{
     margin-bottom: 1rem;
     height: 3rem;
     width: 22.8rem;
 }

 /* ====================Breakpoints=================== */
/* For large devices */
@media screen and (max-width: 992px){
    .rentMain{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
   }
   
   /* For medium devices */
   @media screen and (max-width: 768px){
     
   }
   
   @media screen and (max-width: 576px){
     
   }
   
   
   /* For small devices */
   @media screen and (max-width: 350px){
     
   }
