.productInfosection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 3rem;
  background: #474350;
  justify-content: center;
}
.productInfosection h1 {
  text-align: center;
  color: #f4f7f5;
  font-weight: 100;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
}

.infoContainer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  margin-top: 35px;
}

.productInfoDescription {
  width: 70%;
  padding: 20px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.productInfoDescription h3 {
  text-align: justify;
  padding-right: 15px;
  margin-bottom: 15px;
}

.productInfoLocal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.descript {
  color: #f4f7f5;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.script {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f4f7f5;
}

.textProduct {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #f4f7f5;
}

.productInfobutton {
  width: 22rem;
  height: 3rem;
  background-color: #ffffff;
  color: #474350;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
  font-family: "Inter", sans-serif;
  cursor: none;
  font-size: 14px;
  text-align: center;
}

.black {
  background-color: #1c1c1c;
  color: #f4f7f5;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  margin-top: 0.5rem;
  text-decoration: none;
}


@media (max-width: 1371px) {
  .productInfoDescription {
    width: 60%;
  }
  .sliderContainer{
    width: 98%;
  }

  .productInfoLocal {
    justify-content: center;
  }
}

@media (max-width: 1020px) {
  .productInfoDescription {
    width: 85%;
    margin-bottom: 30px;
    justify-content: center;
    margin-right: 0px;
  }

  .infoContainer {
    justify-content: center;
  }

  .productInfoDescription h3 {
    text-align: justify;
    padding-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 850px){
  .sliderContainer{
    width: 95%;
  }
}

@media (max-width: 574px) {
  .productInfoDescription .descript {
    font-size: 16px;
    text-align: center;
  }
  .sliderContainer{
    width: 90%;
  }
  .slick-prev:before,
  .slick-next:before {
     display:none;
  }
}
