.categorySection{
     width: 100%;
     transform-style: preserve-3d;
     background-color: aquamarine;
     margin-bottom: 10rem;
     margin-top: 6rem;
     
}

.categoryContainer{
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: antiquewhite;
}

.categorySection .categoryCard{
     position: relative;
     width: 320px;
     height: 247px;
     
}
