.searchSection {
     width: 100%;
     height: 100%;
     background: #1c1c1c;
     margin-top: 4rem;
}

.searchContainer {
     margin-top: 1rem;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 10px;
     margin-left: 1rem;
     margin-right: 1rem;
}

.dropDown {
     width: 500px;
     border-radius: 5px;
     transition: .5s;
     transform: translate(0px, -10px);
}

.drop {
     border-radius: 5px;
     transition: .5s;
     transform: translate(0px, -10px);
     width: 500px;
}

.select {
     height: 40px;
     width: 500px;
     box-sizing: border-box;
     border: none;
     border-radius: 5px;
     outline: none;
     color: #1c1c1c;
     font-weight: 500;
     border: .5px solid #2d2d2d;
     margin-top: 10px;
}

.button1 {
     height: 40px;
     background-color: #474350;
}

.form-control {
     height: 40px;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
}

/* For large devices */
@media screen and (max-width: 996px){
     .searchContainer{
          margin-top: 1rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: 5px;
          margin-left: 1rem;
          margin-right: 1rem;
     }

     .select{
          height: 40px;
          width: 300px;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #1c1c1c;
          font-weight: 500;
          border: .5px solid #2d2d2d; 
          margin-top: 10px;
     }

     .dropDown{
          width: 400px;
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
     }

     .drop{
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
          width: 350px;
     }
   }

/* For medium devices */
@media screen and (max-width: 768px){
     .searchContainer{
          margin-top: 1rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: 5px;
          margin-left: 1rem;
          margin-right: 1rem;
     }

     .select{
          height: 40px;
          width: 200px;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #1c1c1c;
          font-weight: 500;
          border: .5px solid #2d2d2d; 
          margin-top: 10px;
     }

     .dropDown{
          width: 300px;
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
     }

     .drop{
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
          width: 250px;
     }
   }

   @media screen and (max-width: 576px){
     .searchContainer{
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
          
     }

     .select{
          height: 40px;
          width: 300px;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #1c1c1c;
          font-weight: 500;
          border: .5px solid #2d2d2d; 
          margin-top: 10px;
     }

     .dropDown{
          width: 300px;
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
     }

     .drop{
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
          width: 300px;
     }

     .button1{
          height: 40px; 
          width: 300px;
      }

      .sectionTitle{
          font-size: 1.5rem;
      }
   }
