.searchSection {
     width: 100%;
     height: auto;
     background: #1c1c1c;
     margin-top: 4rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.searchContainer {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     /* evita que os elementos sejam quebrados em várias linhas */
     flex-wrap: wrap;
     gap: 1rem;
     padding: 1rem;
     width: 100%;
     max-width: 1300px;
     box-sizing: border-box;
}

.searchContainer>* {
     flex: 1;
     /* cada elemento filho ocupa todo o espaço disponível */
}

.dropDown {
     min-width: 200px;
     /* adicionado */
     width: 30rem;
     border-radius: 5px;
     transition: 0.5s;
     transform: translate(0px, -10px);
}

.drop {
     min-width: 150px;
     /* adicionado */
     border-radius: 5px;
     transition: 0.5s;
     transform: translate(0px, -10px);
     max-width: 13rem;
}

.dropDown,
.drop {
     margin-top: 10px;
}

.select {
     height: 40px;
     box-sizing: border-box;
     border: none;
     border-radius: 5px;
     outline: none;
     color: #1c1c1c;
     font-weight: 500;
     border: 0.5px solid #2d2d2d;
     margin-top: 10px;
     font-size: 16px;
}

.button1 {
     height: 40px;
     background-color: #474350;
     width: 100%;
     display: block;
     flex: 1;
     /* adicionado */
}

.buttonLink {
     text-decoration: none;
}

.button-wrapper {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

.form-control {
     height: 40px;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
}

/* For large devices */
@media screen and (max-width: 996px) {
     .searchContainer {
          margin-top: 1rem;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5px;
          margin-left: 1rem;
          margin-right: 1rem;
     }

     .select {
          height: 40px;
          width: 200px;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #1c1c1c;
          font-weight: 500;
          border: .5px solid #2d2d2d;
          margin-top: 10px;
     }

     .dropDown {
          width: 300px;
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
     }

     .drop {
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
          width: 350px;
     }

     .button1 {
          margin-top: 9px;
     }
}

/* For medium devices */
@media screen and (max-width: 768px) {
     .searchContainer {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5px;
          margin-left: 1rem;
          margin-right: 1rem;
     }

     .select {
          height: 40px;
          width: 200px;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #1c1c1c;
          font-weight: 500;
          border: .5px solid #2d2d2d;
          margin-top: 10px;
     }

     .dropDown {
          width: 300px;
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
     }

     .drop {
          border-radius: 5px;
          transition: .5s;
          transform: translate(0px, -10px);
          width: 250px;
     }

     .button1 {
          margin-bottom: 10px;
     }
}

@media screen and (max-width: 576px) {
     .searchContainer {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }

     .searchContainer>* {
          flex: none;
          width: 100%;
     }

     .dropDown,
     .drop {
          min-width: 100%;
          /* alterado */
          max-width: 100%;
          /* adicionado */
     }

     .form-control {
          max-width: 100%;
     }

     .button1 {
          width: 300px;
     }
}