.searchSection {
     width: 100%;
     height: 100%;
     background: #474350;
}

.searchContainer {
     margin: 1rem;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 10px;
}

.dropDown {
     border-radius: 5px;
     transition: .5s;
     transform: translate(0px, -10px);
}

.select {
     height: 40px;
     width: 370px;
     background-color: #F4F7F5;
     box-sizing: border-box;
     border: none;
     border-radius: 5px;
     outline: none;
     color: #1c1c1c;
     font-weight: 500;
     border: .5px solid #2d2d2d;
     margin-top: 10px;
}

.button1 {
     height: 40px;
}

.MuiBox-root {
     color: #F4F7F5;
     font-family: 'Inter', sans-serif;
}

.inputCalendar {
     height: 40px;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
     width: 185px;
}