.searchSection {
     width: 100%;
     height: auto;
     background: #1c1c1c;
     margin-top: 4rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.searchContainer {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     /* evita que os elementos sejam quebrados em várias linhas */
     flex-wrap: wrap;
     gap: 1rem;
     padding: 1rem;
     width: 100%;
     max-width: 1200px;
     box-sizing: border-box;
}

.searchContainer>* {
     flex: 1;
     /* cada elemento filho ocupa todo o espaço disponível */
}

.dropDown {
     min-width: 200px;
     /* adicionado */
     width: 30rem;
     border-radius: 5px;
     transition: 0.5s;
     transform: translate(0px, -10px);
}

.drop {
     min-width: 150px;
     /* adicionado */
     border-radius: 5px;
     transition: 0.5s;
     transform: translate(0px, -10px);
     max-width: 13rem;
}

.dropDown,
.drop {
     margin-top: 10px;
}

.select {
     height: 40px;
     box-sizing: border-box;
     border: none;
     border-radius: 5px;
     outline: none;
     color: #1c1c1c;
     font-weight: 500;
     border: 0.5px solid #2d2d2d;
     margin-top: 10px;
}

.button1 {
     height: 40px;
     background-color: #474350;
     width: 100%;
     display: block;
     flex: 1;
     /* adicionado */
}

.button-wrapper {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

.form-control {
     height: 40px;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
     width: 100%;
     max-width: 500px;
     box-sizing: border-box;
}

@media screen and (max-width: 768px) {
     .searchContainer {
          flex-direction: column;
     }

     .searchContainer>* {
          flex: none;
          width: 100%;
     }

     .dropDown,
     .drop {
          min-width: 100%;
          /* alterado */
          max-width: 100%;
          /* adicionado */
     }

     .form-control {
          max-width: 100%;
     }
}