.footer{
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
     background-color: #1C1C1C;
     box-shadow: 5px 1px 3px #1C1C1C;
     color: #F4F7F5;
}

/* .brand1{
     
} */

.copyRight{
     font-size: 1rem;
     font-family: 'Heebo', sans-serif;
     font-weight: lighter;
}


.footerInfo{
     height: 6vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0px 3rem;
}

.socilaMedia{
     display: flex;
     gap: 1.2rem;
     font-size: 1.6rem;
}

/* ====================Breakpoints=================== */
/* For medium devices */
@media screen and (max-width: 768px){

     .copyRight{
          font-size: 13px;
     }
     .socilaMedia{
          font-size: 1.3rem;
     }
}



