.wrapper {
  width: 100%;
  background-color: #1c1c1c;
  padding: 1px;
  display: flex;
  justify-content: center;
}
.footer {
  margin: 70px 100px 20px 100px;
  max-width: 1200px;
}
.top {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.top div {
  flex: 1;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: 14px;
}
.item h1 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.item span {
  color: rgba(255, 255, 255, 0.575);
}

.botom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright {
  color: white;
  margin-left: 20px;
  font-size: 12px;
}

Link, Link:hover{
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .footer {
    margin: 50px 100px 10px 100px;
  }
}

@media screen and (max-width: 750px) {
  .top {
    display: block;
  }
  .footer {
    margin: 50px 70px 8px 70px;
  }
  .item {
    font-size: 15px;
    margin-bottom: 18px;
    text-align: center;
  }
  .item h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  .bottom-content span {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
