.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #FFC857;
  font-size: 24px;
  font-weight: bold;
  color: #1c1c1c;
  text-transform: uppercase;
  cursor: pointer;
}

.avatar-menu {
  position: absolute;
  top: 55px;
  right: 30px;
  width: 120px;
  background-color: #FFC857;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  text-transform: capitalize;
  color: whitesmoke;
}

.avatar-menu div {
  padding: 10px;
  cursor: pointer;  
}

.avatar-menu div:hover {
  background-color: #BDBDBD;
}
