@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Inter:wght@200;400;500;900&family=Lato:wght@300;400;700&family=Oxygen:wght@300;400&family=Roboto:wght@300;400;500&display=swap');


*,*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background: #474350;
}


/* button, input, textarea {
  font-family: ;
  font-size: ;
} */

.sectionTitle{
  padding: 3rem 0px 1rem 0px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  color: #F4F7F5;
}

.index{
  background-color: #474350;
}

.home{
  padding-top: 4.8rem;
}


ul{
  list-style: none;
}

a{
  outline: none;
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* ====================Layout=================== */
 .container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
} 

.grid{
  display: grid;
  gap: 0.5rem;
}

/* ====================Buttons=================== */
.button{
  display: inline-block;
  width: 10rem;
  height: 2rem;
  background-color: #1c1c1c;
  color: white;
  /* padding: 1.25rem 2rem; */
  border-radius: 5px;
  font-weight:lighter;
  box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
  font-family: 'Inter', sans-serif;
}

.button:hover{
  background-color: whitesmoke;
  color: #1c1c1c;
}

.butonFlex{
  display: inline-flex;
  align-items:center;
}


/* ====================Breakpoints=================== */
/* For large devices */
@media screen and (max-width: 992px){
 .container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
 }

 .home{
  padding-top: 4.8rem;
}
}

/* For medium devices */
@media screen and (max-width: 768px){
  .home{
    padding-top: 4.5rem;
  }
}

@media screen and (max-width: 576px){
  
}

/* For small devices */
@media screen and (max-width: 350px){
  
}