.header {
  top: 2rem;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #1c1c1c;
  box-shadow: 5px 1px 3px #1c1c1c;
}

a {
  text-decoration: none;
}

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
  padding-bottom: 10px;
}

.brand {
  height: 4rem;
  width: auto;
}

.navToggler {
  color: #ffc857;
  font-weight: bold;
  font-size: 2rem;
}

.navList {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 5px;
}

.navList1 {
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navList1-inline {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList1-inline li {
  margin-right: 1rem;
}

.navToggler {
  display: none;
  cursor: pointer;
}

.navLink {
  color: #f4f7f5;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.navLink1 {
  color: #ffc857;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #ffc857;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.navLink1:hover {
  color: white;
}

/*Active Link*/
.activeLink,
.navLink:hover {
  color: #807a90;
}

/* ====================Breakpoints=================== */

/* For large devices */
@media screen and (max-width: 992px) {
  .navList {
    column-gap: 1rem;
    font-size: 1.1rem;
  }

  .navList1 {
    font-size: 0.9rem;
  }

  .brand {
    height: 3rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .header {
    height: 4.5rem;
  }

  .nav {
    height: 8vh;
    margin: 0 2.5rem;
  }

  .navToggler {
    display: block;
  }

  .navLink {
    color: whitesmoke;
  }

  .navList {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
    background-color: #474350;
    transition: 1s ease-in;
    display: none;
  }

  .brand {
    height: 3rem;
  }

  .navList1 {
    align-items: flex-end;
  }
}