.header{
     width: 100%;
     top: 0;
     left: 0;
     z-index: 100;
     background-color: #1C1C1C;
     box-shadow: 5px 1px 3px #1C1C1C;
}

a{
     text-decoration: none;
}

.nav{
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px 2.5rem;
}

.brand{
     display: flex;
     margin-left: 1rem;
} 

.navToggler{
     color: #FFC857;
     font-weight: bold;
     font-size: 2rem;
}

.navClose{
     color: #FFC857;
     font-weight: bold;
     font-size: 2rem;
}

.navList {
     display: flex;
     column-gap: 2rem;
     align-items: center;
     font-size: 1.3rem;
     font-weight:500;
}

.navList1{
     display: flex;
     flex-direction: column;
     font-size: 0.9rem;
     font-weight: 500;
     gap: 1rem;
}

.navClose , .navToggler{
     display: none;
     cursor: pointer;
}

.navLink{
     color: #F4F7F5;
     text-decoration: none;
}

.navLink1{
     color: #FFC857;
     text-decoration: none;
}

/*Active Link*/
.activeLink, .navLink:hover{
     color: #807a90;
}

/* ====================Breakpoints=================== */
/* For medium devices */
@media screen and (max-width: 768px){
     .navClose , .navToggler{
          display: block;
     }

     .brand{
          display: none;
     }

     .navLink{
          color: whitesmoke;
     }

     .navList{
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          flex-direction: column;
          align-items:flex-end;
          padding: 2rem;
          gap: 1.5rem;
          background-color: #474350;
          transition: 1s ease-in;
          transform: translateX(100%);
     }

     .navList1{
          align-items: flex-end;
     }

     .responsive{
          transform: translateX(0);
     }
     
/*Colocar esse x em cima*/
     .navClose{
          position: absolute;
          top: 1.5rem;
          left: 2.5rem;
     }


}




