.section {
     width: 100%;
     height: 100%;
     background: #474350;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 30px;
     margin-top: 7rem;
}

.item.sectionTitle {
     font-weight: 300;
}

.item.sectionTitle {
     justify-content: center;
     align-items: center;
}

.carsCard {
     border: 1px solid rgba(82, 69, 64 / 50%);
     border-radius: 10px;
     box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
     display: flex;
     transform-style: preserve-3d;
     box-shadow: -1rem 0 3rem #000;
     background-color: #393640;
}

.carsImg {
     border-radius: 10px 0px 0px 10px;
     max-width: 197;
     max-height: 121;
     width: auto;
     height: auto;
     overflow: hidden;
}

.carsInfo {
     width: 100%;
     margin: 1rem;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
}

.linkMap,
.linkdescription {
     color: #ffc857;
     text-decoration: none;
}

.linkMap:hover,
.linkdescription:hover {
     animation: ondular 2s ease-in-out infinite;
     color: #F4F7F5;
}

@keyframes ondular {
     0% {
          transform: translateY(0);
          opacity: 1;
     }

     50% {
          transform: translateY(-10px);
          opacity: 0.5;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

.carsYear {
     height: .7rem;
     font-size: 1rem;
     color: #AAA6B5;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
}

.carsName {
     color: #F4F7F5;
     font-family: 'Roboto', sans-serif;
}

.carsDistance {
     margin: 2rem 0px 7rem;
     font-family: 'Roboto', sans-serif;
     color: #F4F7F5;
     font-size: 1rem;
}

.carsDesciption {
     width: 35vw;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #F4F7F5;
     font-size: 1rem;
}

.seeMore {
     width: 100%;
     height: 2.5rem;
}

.thumbs-wrapper {
     display: none;   
}

@media screen and (max-width: 768px){
     .carsCard{
          background: #474350;
          border: 1px solid rgba(82, 69, 64 / 50%);
          border-radius: 10px;
          box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%); 
          display: flex;
          transform-style: preserve-3d;
          background-color: #393640;
          height: 300px;
     }

     .carsYear{  
          height: .5rem;
          font-size: 12px;
          color: #AAA6B5;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
     }
     
     .carsName{ 
           color: #F4F7F5;
           font-family: 'Roboto', sans-serif;
           font-size: 24px;
     }
     
     .carsDistance{
          margin: .3rem 0px 5rem;
          font-family: 'Roboto', sans-serif;
          color: #F4F7F5;
          font-size: 14px;
     }
     
     .carsDesciption{
          width: 35vw;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          color: #F4F7F5;
          font-size: 14px;
     }
     
     .seeMore{
          width: 100%;
          height: 2.5rem;
     }
}

@media screen and (max-width: 576px){
     .carsCard{
          background: #474350;
          border: 1px solid rgba(82, 69, 64 / 50%);
          border-radius: 10px;
          box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%); 
          display: flex;
          transform-style: preserve-3d;
          background-color: #393640;
          height: 200px;
     }

     .carsYear{  
          height: .2rem;
          font-size: 10px;
          color: #AAA6B5;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
     }
     
     .carsName{ 
           color: #F4F7F5;
           font-family: 'Roboto', sans-serif;
           font-size: 16px;
     }
     
     .carsDistance{
          margin: .2rem 0px 1rem;
          font-family: 'Roboto', sans-serif;
          color: #F4F7F5;
          font-size: 12px;
     }
     
     .carsDesciption{
          width: 35vw;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          color: #F4F7F5;
          font-size: 12px;
     }
     
     .seeMore{
          width: 100%;
          height: 2.5rem;
     }
}
