.section {
     width: 100%;
     height: 100%;
     background: #474350;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 50px;

}

.item.sectionTitle {
     justify-content: center;
     align-items: center;
}

.carsCard {

     border: 1px solid rgba(82, 69, 64 / 50%);
     border-radius: 10px;
     box-shadow: 3px 3px 0px 0px rgba(10 10 10 / 10%);
     display: flex;
     transform-style: preserve-3d;
     box-shadow: -1rem 0 3rem #000;
     background-color: #393640;

}

.carsImg {
     border-radius: 10px 0px 0px 10px;
}

.carsInfo {
     width: 100%;
     margin: 1rem;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
}

.linkMap,
.linkdescription {
     color: #ffc857;
     text-decoration: none;
}

.linkMap:hover,
.linkdescription:hover {
     animation: ondular 2s ease-in-out infinite;
     color: #F4F7F5;
}

@keyframes ondular {
     0% {
          transform: translateY(0);
          opacity: 1;
     }

     50% {
          transform: translateY(-10px);
          opacity: 0.5;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

.carsYear {
     height: .7rem;
     font-size: 1rem;
     color: #AAA6B5;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
}

.carsName {
     color: #F4F7F5;
     font-family: 'Roboto', sans-serif;
}

.carsDistance {
     margin: 2rem 0px 7rem;
     font-family: 'Roboto', sans-serif;
     color: #F4F7F5;
     font-size: 1rem;
}

.carsDesciption {
     width: 35vw;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #F4F7F5;
     font-size: 1rem;
}

.seeMore {
     width: 100%;
     height: 2.5rem;
}

.thumbs-wrapper {
     display: none;

}